{% extends "base.html" %}

{% block page_title %}
UniQueCorn - Issue Tracker | About
{% endblock %}

{% block showcase %}
<div class="main-title">
    <div class="color-cover"></div>
    <div class="title">
        <!-- <h1>{#% block page_heading %#}{#% endblock %#}</h1> -->
        <h1>Unique Corn - Issue Tracker - ABOUT</h1>
    </div>
</div>
{% endblock showcase %}


{% block content %}
<p class="about-intro">The main app whose issues are tracked with this app is as real as the <span class="emphasise">Unicorns</span> that Theresa May is currently hunting. If you are curious about this and would like to read more, please go <a href="{% url 'uqc_app' %}" class="about-product-link">here</a>.</p>
<p class="about-subtitle">Background</p>
<p class="about-text">In a post-brexit dystopia, when people in the UK are hungry and food is scarce, the Prime Minister decides to turn to technology to solve her most pressing problem, feeding the people. This step was not without its roller coaster of issues. In a similar fashion to brexit itself, it turned out to be a cliff-edge jump without a parachute. People who depended on this app for sustainance started dying. Apparently, this magic food was no miracle at all and turned out to be as real as the Unicorns from whom the name derives.</p>

<p class="about-text">At least Jeremy Corbyn came to the rescue and decided to start a project with the intention to improve this unremarkable piece of technology. The aim was to track bugs and ask users to collaborate by suggesting any features they would like to be included in this app.</p>

<p class="about-text">Unfortunately for me, being a slave of the system, I was assigned the infamous task of developing this issue tracker.</p>

    

{% endblock %}