{% extends "base.html" %}


{% block page_title %}
UniQueCorn - Issue Tracker | About
{% endblock %}

{% block page_heading %}
Unique Corn - Issue Tracker - ABOUT
{% endblock %}

{% block content %}
<p>The main app whose issues are tracked with this app is as real as the <strong>Unicorns</strong> that Theresa May is currently hunting.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quo nam asperiores ea deleniti facilis, perferendis
    voluptates odit! Inventore, obcaecati. Aliquid vero doloremque similique. Qui aut minus porro nulla libero?</p>
{% endblock %}