{% extends "base.html" %}

{% block page_title %}
UniQueCorn - Issue Tracker | Blog
{% endblock %}

{% block showcase %}
<div class="main-title">
    <div class="color-cover"></div>
    <div class="title">
        <!-- <h1>{#% block page_heading %#}{#% endblock %#}</h1> -->
        <h1>Unique Corn - Issue Tracker - Blog</h1>
    </div>
</div>
{% endblock showcase %}


{% block content %}

<p class="blog-date">21 May 2019</p>
<p class="blog-title">App first released</p>
<p class="blog-text">This miraculous app will feed the UK population. It is still undecided whether EU citizens living in the UK will be
allowed to use it at this stage. We can leave this decision till later after all so many decisions have been kicked back
in time during the brexit process, so why not this one too?</p>

<p class="blog-date">6 June 2019</p>
<p class="blog-title">First problems appear</p>
<p class="blog-text">Why should this perfect app ever have problems is beyond my understanding. Technology should be the solution of
everything including borders and food.</p>

<p class="blog-date">25 June 2019</p>
<p class="blog-title">Planning of an issue tracker</p>
<p class="blog-text">Jeremy Corbyn decided to finally get off the wall and start helping with this app. Now everyone knows exactly on which
side he is. Some people still think that he is motivated with helping people. I am not convinced and since I am writing
this blog I will say it the way I feel it.</p>



{% endblock %}