{% extends "base.html" %}

{% block page_title %}
UniQueCorn - Issue Tracker | Contact
{% endblock %}

{% block showcase %}
<div class="main-title">
    <div class="color-cover"></div>
    <div class="title">
        <!-- <h1>{#% block page_heading %#}{#% endblock %#}</h1> -->
        <h1>Unique Corn - Issue Tracker - Contact Us</h1>
    </div>
</div>
{% endblock showcase %}


{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="section-title text-center">
            <h2 class="contact-title">Contact Us</h2>
            <p class="contact-text">
                Use this form if you need to get in touch for reasons such as the following:
            </p>
            <ul class="contact-unordered-list">
                <li class="contact-list-item">You have problems with registering.</li>
                <li class="contact-list-item">You have problems with logging in.</li>
                <li class="contact-list-item">You noticed something wrong on this web site.</li>
                <li class="contact-list-item">You have a suggestion to improve this web site.</li>
                <li class="contact-list-item">You have problems buying and paying for coins.</li>
                <li class="contact-list-item">You have problems with creating a new feature or bug even though you have enough coins.</li>
                <li class="contact-list-item">You have problems adding a comment to a feature or bug.</li>
                <li class="contact-list-item">You have problems with voting up a feature or bug even though you have enough coins.</li>
            </ul>
            <p class="contact-text small">
                All fields are required.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 contact-form-container">
        <!-- <form action='/contact' method='POST'>
                <input name='name'>
                <input name='email'>
                <input name='subject'>
                <input name='message'>
                <input type='submit'>
            </form> -->
        <!-- <form action='/contact' method="POST" id="contactForm" data-toggle="validator" role="form"> -->
        <form method="POST" id="contactForm" data-toggle="validator" role="form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_name" id="nameLabel">Name:</label>
                <input type="text" class="form-control" id="id_name" name="name" placeholder="Your Name here" required />
            </div>
            <div class="form-group">
                <label for="id_email" id="emailLabel">Email:</label>
                <input type="email" class="form-control" id="id_email" name="email" placeholder="example@example.com"
                    required />
            </div>
            <div class="form-group">
                <label for="id_subject" id="subjectLabel">Subject:</label>
                <input type="text" class="form-control" id="id_subject" name="subject" placeholder="Subject here" required />
            </div>
            <div class="form-group">
                <label for="id_message" id="is_messageLabel">Message:</label>
                <textarea class="form-control" name="message" id="id_message" cols="30" rows="10"
                    placeholder="please write your message here" required minlength="3"></textarea>
            </div>
            <div class="padding">
                <button type="submit" class="btn center-block section dusty" id="btn-submit">Submit</button>
            </div>
    
        </form>
    </div>
</div>









{% endblock %}