{% extends "base.html" %}


{% block page_title %}
UniQueCorn - Issue Tracker | Home
{% endblock %}

{% block page_heading %}
Unique Corn - Issue Tracker
{% endblock %}

{% block content %}
<p>This is the home page and this is some random text.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quo nam asperiores ea deleniti facilis, perferendis voluptates odit! Inventore, obcaecati. Aliquid vero doloremque similique. Qui aut minus porro nulla libero?</p>
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>This is Home Page</h1>
</body>
</html> -->