{% extends "base.html" %}


{% block page_title %}
UniQueCorn - Issue Tracker | Home
{% endblock %}

<!-- {#% block page_heading %#}
Unique Corn - Issue Tracker
{#% endblock %#} -->

{% block showcase %}
    <div class="container showcase">
        <h1>
            Feeding the world for cheap
        </h1>
        <div class="showcase-middleground"></div>
        <div class="showcase-background"></div>
    </div>
{% endblock showcase %}
{% block maintitle %}
<div class="main-title">
    <div class="color-cover"></div>
    <div class="title">
        <!-- <h1>{#% block page_heading %}{% endblock %#}</h1> -->
        <h1>UniQue Corn - Issue Tracker</h1>
    </div>
</div>
{% endblock maintitle %}

{% block content %}
    <div class="main-content col-xs-12">
        <!-- <div class="title">
                <h1>
                    Title
                </h1>
            </div> -->
        <div id="features-bugs">Features & Bugs</div>
        <div class="picture-links-container">
            <div class="picture-links">
                <div class="panel product-bg">
                    <span>
                        Product
                    </span>
                </div>
                <a href="{% url 'issues1' %}">
                    <div class="panel issue-tracker-bg">
                        <span>
                            Issue Tracker
                        </span>
                    </div>
                </a>
                <div class="panel blog-bg">
                    <span>
                        Blog
                    </span>
                </div>
            </div>
        </div>
        <section id="events">
            <h2>
                Events
            </h2>
            <div>
                <h3>Title</h3>
                <p><span>Event: </span>
                </p>
                <p><span>Date: </span>
                </p>
                <p><span>Venue: </span>
                </p>
            </div>
            <div>
                <h3>Title</h3>
                <p><span>Event: </span>
                </p>
                <p><span>Date: </span>
                </p>
                <p><span>Venue: </span>
                </p>
            </div>
            <div>
                <h3>Title</h3>
                <p><span>Event: </span>
                </p>
                <p><span>Date: </span>
                </p>
                <p><span>Venue: </span>
                </p>
            </div>
        </section>
    </div>




<!-- 
<p>This is the home page and this is some random text.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quo nam asperiores ea deleniti facilis, perferendis voluptates odit! Inventore, obcaecati. Aliquid vero doloremque similique. Qui aut minus porro nulla libero?</p> -->
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>This is Home Page</h1>
</body>
</html> -->