{% extends "base.html" %}


{% block page_title %}
UniQueCorn - Issue Tracker | Home
{% endblock %}

<!-- {#% block page_heading %#}
Unique Corn - Issue Tracker
{#% endblock %#} -->

{% block showcase %}
    <div class="container showcase">
        <h1>
            Feeding the world for cheap
        </h1>
        <div class="showcase-middleground"></div>
        <div class="showcase-background"></div>
    </div>
{% endblock showcase %}
{% block maintitle %}
<div class="main-title">
    <div class="color-cover"></div>
    <div class="title">
        <!-- <h1>{#% block page_heading %}{% endblock %#}</h1> -->
        <h1>
            <span class="prominent-letter">U</span>ni<span class="prominent-letter">Q</span>ue 
            <span class="prominent-letter">C</span>orn
            <!-- UniQue Corn - Issue Tracker -->
        </h1>
    </div>
</div>
{% endblock maintitle %}

{% block content %}
    <div class="main-content col-xs-12">
        <!-- <div class="title">
                <h1>
                    Title
                </h1>
            </div> -->
        <section id="features-bugs">
            <h2>
                Features & Bugs
            </h2>
        </section>
        <section class="picture-links-container">
            <div class="picture-links">
                <div class="front-panel product-bg">
                    <span>
                        Product
                    </span>
                </div>
                <a href="{% url 'issues1' %}">
                    <div class="front-panel issue-tracker-bg">
                        <span>
                            Issue Tracker
                        </span>
                    </div>
                </a>
                <a href="{% url 'blog' %}">
                    <div class="front-panel blog-bg">
                        <span>
                            Blog
                        </span>
                    </div>
                </a>
            </div>
        </section>
        <section id="events">
            <h2>
                Events
            </h2>
            <p class="general-info">All events are whole day events, starting at 9:00am till 5:00pm, unless otherwise stated.</p>
            <div class="event-item">
                <h3>UniQueCorn - Feeding People</h3>
                <div class="event-details row">
                    <p class="col-xs-12 col-sm-4"><span class="event-data">Date: </span>25th March, 2019
                    </p>
                    <p class="col-xs-12 col-sm-6"><span class="event-data">Venue: </span>The Brewery, London.
                    </p>
                </div>
                <div class="event-details row">
                    <p class="col-xs-12 col-sm-4"><span class="event-data">Date: </span>30th March, 2019
                    </p>
                    <p class="col-xs-12 col-sm-6"><span class="event-data">Venue: </span>Victoria Warehouse, Manchester.
                    </p>
                </div>
                <div class="row description">
                    <p>Our flagship product - introduction for potential customers.</p>
                </div>
            </div>
            <div  class="event-item">
                <h3>Improving UniQueCorn</h3>
                <div class="event-details row">
                    <p  class="col-xs-12 col-sm-4"><span class="event-data">Date: </span>15th April, 2019
                    </p>
                    <p  class="col-xs-12 col-sm-6"><span class="event-data">Venue: </span>Hilton Brighton Metropole, Brighton.
                    </p>
                </div>
                <div class="row description">
                        <p>As with all products, they either improve or they die. Our product is far too young to die so we choose to improve.</p>
                </div>
            </div>
            <div  class="event-item">
                <h3>UniQueCorn - A look at the future</h3>
                <div class="event-details row">
                    <p  class="col-xs-12 col-sm-4"><span class="event-data">Date: </span>5th May, 2019
                    </p>
                    <p  class="col-xs-12 col-sm-6"><span class="event-data">Venue: </span>National Railway Museum, York.
                    </p>
                </div>
                <div class="row description">
                        <p>As the railway takes you places, so we want to take our product. Join us to see what the future holds in store.</p>
                </div>
            </div>

        </section>
    </div>




<!-- 
<p>This is the home page and this is some random text.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quo nam asperiores ea deleniti facilis, perferendis voluptates odit! Inventore, obcaecati. Aliquid vero doloremque similique. Qui aut minus porro nulla libero?</p> -->
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>This is Home Page</h1>
</body>
</html> -->