{% extends "base.html" %}

{% block page_title %}
UniQueCorn - UQC app
{% endblock %}

{% block showcase %}
<div class="main-title">
    <div class="color-cover"></div>
    <div class="title">
        <!-- <h1>{#% block page_heading %#}{#% endblock %#}</h1> -->
        <h1>Unique Corn - UQC App</h1>
    </div>
</div>
{% endblock showcase %}


{% block content %}

Describe what UQC app is. What it does (supposed to do)
How it works, advantages. How to get it.

Unfortunately it is not currently available for download as we are fixing a few teething issues. For the people who have already downloaded this app, use it with caution.

In RED
Warning: there have been reports that people have died by rellying solely on the corn produced by this app for their nutrition.
<p class="blog-date">21 May 2019</p>
<p class="blog-title">App first released</p>
<p class="blog-text">This miraculous app will feed the UK population. It is still undecided whether EU citizens living in the UK will be
allowed to use it at this stage. We can leave this decision till later after all so many decisions have been kicked back
in time during the brexit process, so why not this one too?</p>




{% endblock %}