{% extends "base.html" %}

{% block page_title %}
UniQueCorn - UQC app
{% endblock %}

{% block showcase %}
<div class="main-title">
    <div class="color-cover"></div>
    <div class="title">
        <!-- <h1>{#% block page_heading %#}{#% endblock %#}</h1> -->
        <h1>Unique Corn - UQC App</h1>
    </div>
</div>
{% endblock showcase %}


{% block content %}

<p class="uqc-app-intro">
    UniQue Corn, produces corn directly from your mobile phone. No more need to grow plants, wait for them to fruit and harvest them. Just decide the quantity you want. Hit a button and off you go. In the future we also would like to add functionality so that the corn is popped if you so wish it to be.
</p>

<p class="uqc-app-text">
    Unfortunately it is not currently available for download as we are fixing a few teething issues. For the people who have already downloaded this app, use it with caution.
</p>

<p class="uqc-app-download-info">
    Downloads will recommence soon
</p>

<p class="uqc-app-text">
    Recommending new features and reporting bugs will help us improve this app. Vote for features and bugs will increase the likelihood that these will be worked on, as well as help us fund this project.
</p>


<p class="uqc-app-text uqc-app-red">
    <span>Warning:</span><br>
There have been reports that people have died by relying solely on the corn produced by this app for their
nutrition.
</p>











{% endblock %}