/venv/
*.sqlite3
db.sqlite3
__pycache__
/htmlcov/
.vscode
UniQueCorn/__pycache__/*
fontawesome-free-5.7.1-web.zip
env.py
WORKING.md
WORKING.pdf
*.pyc 
credentials.csv
To Remove/
AllItemsInstalled.txt
ItemsThatShouldBeInstalled.txt
requirements2.txt
README2.md
media/images/not-used/*