{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}
UniQueCorn - Test | Add Item
{% endblock %}

{% block page_heading %}
UniQueCorn - Test - Add an item
{% endblock %}

{% block content %}
    <h2>The following form uses django form.</h2>
    <form method="POST">
        {% csrf_token %}
        {#{ form }#}
        {#{ form.as_p }#}
        {#{ form.as_table }#}
        {#{ form.as_ul }#}

        {{ form | as_bootstrap_horizontal }}

        <br>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
{% endblock %}


<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test | Add Item</title>
</head>
<body>
    <h1>Test - Add an item</h1>

    <h2>The following form uses django form.</h2>
    <form method="POST">
        {% csrf_token %}
        {#{ form }#}
        {{ form.as_p }}
        {#{ form.as_table }#}
        {#{ form.as_ul }#}
        <br>
        <button type="submit">Save</button>
    </form>
</body>
</html> -->