
{% extends 'base.html' %}

{% block page_title %}
UniQueCorn Test Template
{% endblock %}

{% block page_heading %}
UniQueCorn - TEST
{% endblock %}

{% block content %}
<p>This is a test page meant for nothing.</p>
{% endblock %}



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UniQueCorn Test Template</title>
</head>
<body>
    <h1>UniQueCorn</h1>
    <p>This is a test.</p>
</body>
</html> -->