{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}
Django Auth - Login
{% endblock %}

{% block page_heading %}
Accounts - User Login
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {#{ login_form.as_p }#}
        {{ login_form | as_bootstrap_horizontal }}
        <!-- <button type="submit">Login</button>
     -->
    <button type="submit" class="btn btn-default">Login</button>
    </form>

    <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
{% endblock %}
    
   