{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}
UniQueCorn - Login
{% endblock %}

{% block showcase %}
<div class="main-title">
    <div class="color-cover"></div>
    <div class="title">
        <h1>UniQueCorn - Login</h1>
    </div>
</div>
{% endblock showcase %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {#{ login_form.as_p }#}
        {{ login_form | as_bootstrap_horizontal }}
    <button type="submit" class="btn btn-default">Login</button>
    </form>

    <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
{% endblock %}