{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}
UniQueCorn - Test | Add Comment
{% endblock %}

{% block showcase %}
<div class="main-title">
    <div class="color-cover"></div>
    <div class="title">
        <h1>UniQueCorn - IssueTracker - Add Comment</h1>
    </div>
</div>
{% endblock showcase %}

{% block content %}
<p class="add-comment-note">The issue you are commenting on is <br><span class="issue_subject">{{ issue_subject }}</span>.<br>
Please select it from the list below </p>
<form method="POST">
    {% csrf_token %}
    {{ form | as_bootstrap_horizontal }}
    <br>
    <button type="submit" class="btn btn-success btn-add-comment">Save</button>
</form>
{% endblock %}