<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block page_title %}
UniQueCorn Products
{% endblock %}

{% block showcase %}
<div class="main-title">
    <div class="title">
        <!-- <h1>{#% block page_heading %#}{#% endblock %#}</h1> -->
        <h1>UniQueCorn - IssueTracker</h1>
    </div>
</div>
{% endblock showcase %}

{% block content %}

    This is issue tracker

    {% for each in issues %}
        <div style="border: 1px solid black">
                <p> {{ each.id }}</p>
                <h3> {{ each.title }}</h3>
                <p> {{ each.description }}</p>
                <hr>
                <p> Posted by: {{ each.posted_by }} | Votes: {{ each.votes }} </p>
        </div>
    {% endfor %}

    {% endblock %}
