{% extends "base.html" %}

{% block page_title %}
UniQueCorn Products
{% endblock %}

{% block showcase %}
<div class="main-title">
    <div class="color-cover"></div>
    <div class="title">
        <!-- <h1>{#% block page_heading %#}{#% endblock %#}</h1> -->
        <h1>UniQueCorn - IssueTracker</h1>
    </div>
</div>
{% endblock showcase %}

{% block content %}

    <a id="link-add-issue" href="{% url 'add-issue' %}">Add a Feature or Bug</a>

    <!-- This is issue tracker

    {#% for each in issues reversed %#}
        <div style="border: 1px solid black">
                <p> {#{ each.id }#} 
                {#% if each.is_feature %#}
                    <span> FEATURE </span>
                {#% else %#}
                    <span> BUG </span>
                {#% endif %#}
                </p>
                <h3> {#{ each.title }#}</h3>
                <p> {#{ each.description }#}</p>
                <hr>
                <p> Posted by: {#{ each.posted_by }#} at {#{ each.date_time}#} | Votes: {#{ each.votes }#} </p>
        </div>
    {#% endfor %#} -->
    <!-- <hr> -->
    {% if feature_count == 1 %}
    <h2> FEATURE REQUEST </h2>
    {% else %}
    <h2> FEATURE REQUESTS </h2>
    {% endif %}
    {% if feature_count == 0 %}
        <p>No features to display</p>
    {% else %}
        {% for each in issues reversed %}
            {% if each.is_feature %}
                <div class="issue-item">
                    <p> {{ each.id }} 
                    </p>
                    <h3> {{ each.title }}</h3>
                    <p> {{ each.description }}</p>
                    <!-- <p> {#{ each.issuecomment_set.subject }#}</p> -->
                    <div class="comments-list">
                        <a id="link-add-comment" href="{% url 'add-comment' %}">Add a Comment</a>
                    
                        {% for item in each.comment.all %}
                        <div class="comment-item">
                            <h4>Comment {{ forloop.counter }}</h4>
                            <p class="comment-subject"><strong>{{item.subject}}</strong></p>
                            <p><small>Posted by: <strong>{{ item.posted_by }}</strong> at <strong>{{ item.date_time}}</strong></small></p>
                            <p>{{item.comment}}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <hr class="hr-light">
                    <p> 
                    Posted by: <strong>{{ each.posted_by }}</strong>
                        at <strong>{{ each.date_time}}</strong> | Votes: <strong>{{ each.votes }}</strong>
                    </p>
                </div>
            {% endif %}
        {% endfor %}        
    {% endif %}
    <hr>
    {% if bug_count == 1 %}
        <h2> BUG </h2>
    {% else %}
        <h2> BUGS </h2>
    {% endif %}
    {% if bug_count == 0 %}
    <p>No bugs to display</p>
    {% else %}
        {% for each in issues reversed %}
            {% if not each.is_feature %}
                <div class="issue-item">
                    <p>Bug id: {{ each.id }} 
                    </p>
                    <h3> {{ each.title }}</h3>
                    <p> {{ each.description }}</p>
                    <!-- <p> {#{ each.issuecomment_set.subject }#}</p> -->
                    <!-- <p> {#{ each.subject.all}#}</p> -->
                    <div class="comments-list">
                        <a id="link-add-comment" href="{% url 'add-comment' %}">Add a Comment</a>

                        {% for item in each.comment.all %}
                            <div class="comment-item">
                                <h4>Comment {{ forloop.counter }}</h4>
                                <p class="comment-subject"><strong>{{item.subject}}</strong></p>
                                <p><small>Posted by: <strong>{{ item.posted_by }}</strong> at <strong>{{ item.date_time}}</strong></small></p>
                                <p>{{item.comment}}</p>
                            </div>
                        {% endfor %}
                    </div>

                    <hr class="hr-light">
                    <p> Posted by: <strong>{{ each.posted_by }}</strong> at <strong>{{ each.date_time}}</strong> | Votes: <strong>{{ each.votes }}</strong> </p>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
        
    {% endblock %}
