{% extends "base.html" %}
<!-- {#% load static from staticfiles %#} -->
{% load bootstrap_tags %}


<!-- Javascript required by Stripe -->
<!-- Set Stripe's publishable key -->
{% block head_js %}

<!-- Charts.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script type="text/javascript" src="{% static 'js/my_charts.js' %}"></script>
{% endblock %}


{% block page_title %}
UniQueCorn Issue Tracker | Checkout
{% endblock %}

{% block showcase %}
<div class="main-title">
    <div class="color-cover"></div>
    <div class="title">
        <!-- <h1>{#% block page_heading %#}{#% endblock %#}</h1> -->
        <h1>UniQueCorn - IssueTracker - Charts</h1>
    </div>
</div>
{% endblock showcase %}


{% block content %}
<h2 class="charts-sub-heading">Transparency Charts</h2>
<p class="charts-text">The more popular features and bugs are, the higher the likelihood that they will be worked on. This is shown by higher number of votes and comments.
    <strong>
        Show your support by voting up your preferred feature or bug.
    </strong>
</p>
<div class="row row-flex">
    <div class="col-xs-12 col-sm-6">
        <!-- <h2>Feature Voting</h2> -->
        <!-- <canvas id="feature-votes-chart" class="chart" width="800" height="800"></canvas> -->
        <canvas id="feature-votes-chart" class="canvas chart" width="300" height="200"></canvas>
    </div>
    <div class="col-xs-12 col-sm-6">
        <!-- <h2>Feature Comments</h2> -->
        <!-- <canvas id="feature-comments-chart" class="chart" width="800" height="800"></canvas> -->
        <canvas id="feature-comments-chart" class="canvas chart"  width="300" height="200"></canvas>
    </div>
    <div class="col-xs-12 col-sm-6">
        <!-- <h2>Bug Voting</h2> -->
        <!-- <canvas id="bug-votes-chart" class="canvas chart" width="800" height="800"></canvas> -->
        <canvas id="bug-votes-chart" class="canvas chart"  width="300" height="200"></canvas>
    </div>
    <div class="col-xs-12 col-sm-6">
        <!-- <h2>Bug Comments</h2> -->
        <!-- <canvas id="bug-comments-chart" class="canvas chart" width="800" height="800"></canvas> -->
        <canvas id="bug-comments-chart" class="canvas chart"  width="300" height="200"></canvas>
    </div>
    
</div>









{% endblock %}