{% extends "base.html" %}

{% block page_title %}
UniQueCorn Issue Tracker
{% endblock %}

{% block showcase %}
<div class="main-title">
    <div class="color-cover"></div>
    <div class="title">
        <h1>UniQueCorn - IssueTracker</h1>
    </div>
</div>
{% endblock showcase %}

{% block content %}

    <a id="link-add-issue" href="{% url 'add-issue' %}">Add a Feature or Bug</a>

    <p class="issue-promotion">If you like a feature and would like to promote it to make it happen sooner, vote for it. The more votes a feature has, the higher the probability that it will be scheduled for development.<br>
        <br>
    Voting for bug fixes work in a similar fashion.<br>
    Bugs which are considered critical will be scheduled for fixes irrespective of vote counts. The government will decide which bugs are critical and their decision is final, no meaningful vote will be offered and do not expect any public vote either.</p>

    <div id="features-bugs-tabs">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#features-pane" data-toggle="tab">Features</a>
            </li>
            <li><a href="#bugs-pane" data-toggle="tab">Bugs</a>
            </li>
        </ul>
    
        <div class="tab-content ">
            <div class="tab-pane active" id="features-pane">
                {% if feature_count == 1 %}
                <h2> FEATURE REQUEST </h2>
                {% else %}
                <h2> FEATURE REQUESTS </h2>
                {% endif %}
                {% if feature_count == 0 %}
                <p>No features to display</p>
                {% else %}
                {% for each in issues reversed %}
                {% if each.is_feature %}
                <div class="issue-item">
                    <p>Feature id: {{ each.id }}
                    </p>
                    <h3> {{ each.title }}</h3>
                    <p class="feature-description"> {{ each.description }}</p>
                    <div class="comments-list">
                        <a class="link-add-comment" href="{% url 'add-comment'  issue_id=each.id %}">Add a Comment</a>
                
                        {% for item in each.comment.all %}
                        <div class="comment-item">
                            <h4>Comment {{ forloop.counter }}</h4>
                            <p class="comment-subject"><strong>{{item.subject}}</strong></p>
                            <p><small>Posted by: <strong>{{ item.posted_by }}</strong> at <strong>{{ item.date_time}}</strong></small>
                            </p>
                            <p>{{item.comment}}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <hr class="hr-light">
                    <p>
                        Posted by: <strong>{{ each.posted_by }}</strong>
                        at <strong>{{ each.date_time}}</strong> | Votes: <strong>{{ each.votes }}</strong>
                        <a class="vote-link" href="{% url 'vote' issue_id=each.id %}">Promote this Feature</a> (Note: It will cost you 100 coins.)
                    </p>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            <div class="tab-pane" id="bugs-pane">
                {% if bug_count == 1 %}
                <h2> BUG </h2>
                {% else %}
                <h2> BUGS </h2>
                {% endif %}
                {% if bug_count == 0 %}
                <p>No bugs to display</p>
                {% else %}
                {% for each in issues reversed %}
                {% if not each.is_feature %}
                <div class="issue-item">
                    <p>Bug id: {{ each.id }}
                    </p>
                    <h3> {{ each.title }}</h3>
                    <p class="bug-description"> {{ each.description }}</p>
                    <div class="comments-list">
                        <a class="link-add-comment" href="{% url 'add-comment' issue_id=each.id %}">Add a Comment</a>
                
                        {% for item in each.comment.all %}
                        <div class="comment-item">
                            <h4>Comment {{ forloop.counter }}</h4>
                            <p class="comment-subject"><strong>{{item.subject}}</strong></p>
                            <p><small>Posted by: <strong>{{ item.posted_by }}</strong> at <strong>{{ item.date_time}}</strong></small>
                            </p>
                            <p>{{item.comment}}</p>
                        </div>
                        {% endfor %}
                    </div>
                
                    <hr class="hr-light">
                    <p> Posted by: <strong>{{ each.posted_by }}</strong> at <strong>{{ each.date_time}}</strong> | Votes:
                        <strong>{{ each.votes }}</strong> <a class="vote-link" href="{% url 'vote' issue_id=each.id %}">Promote this
                            Feature</a> (Note: It will cost you 100 coins.)</p>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock %}
